APP_PATH=../
WORKING_DIR=/opt/project

COMPOSE_PROJECT_NAME=stone-tech

VIRTUAL_HOST=stone-tech.rul
APP_ENV=dev

MYSQL_DATABASE=stone-tech
MYSQL_USER=stone-tech_user
MYSQL_PASSWORD=stone-tech_pass
MYSQL_ROOT_PASSWORD=root